footer {
  background-color: $white;
  font-family: $secondaryFont;
  font-style: italic;
  font-size: 18px;
  color: $black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
